<!DOCTYPE html>
<html lang="en" dir="ltr">

<head th:replace="fragments/executive/sidebar :: head"></head>

<body>
    <div th:replace="fragments/executive/sidebar :: sidebar"></div>
    <section class="home-section">
        <nav th:replace="fragments/executive/sidebar :: navbar"></nav>

        <div class="home-content">
            <div class="title">Employee Project</div>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <table id="employeeproject-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="col-1">No</th>
                                <th class="col-1">Employee</th>
                                <th class="col-1">Project</th>
                                <th class="col-1">Action</th>
                            </tr>
                        </thead>
                    </table>
                    <button
                      type="button"
                      class="btn btn-info"
                      data-bs-toggle="modal"
                      data-bs-target="#create-employeeproject"
                    >
                    Add Employee Project
                    </button>
                </div>
                <div>
                </div>
            </div>

        </div>
        </div>
    </section>

    <!-- Modal Create -->
    <div class="modal fade" id="create-employeeproject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Employee Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Employee</label>
                        <select class="form-select employeeproject-in-employee">
                            <option value="0" disabled selected>Select the Employee!</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Project</label>
                        <select class="form-select employeeproject-in-project">
                            <option value="0" disabled selected>Select the Project!</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" onclick="create()">Submit</button>
                </div>
            </div>
        </div>
    </div>

      <!-- JQuery Script -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js">
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <!-- DataTables Script -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <!-- SweetAlert2 Script -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script th:src="@{/js/executive/employee_project.js}"></script>
    <div th:replace="fragments/executive/sidebar :: script"></div>
</body>

</html>