<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:replace="fragments/executive/sidebar :: head"></head>
<body>
    <div th:replace="fragments/executive/sidebar :: sidebar"></div>
    <section class="home-section">
        <nav th:replace="fragments/executive/sidebar :: navbar"></nav>
        <div class="home-content">
            <div class="overview-boxes">
                
                <a class="box" th:href="@{/overtime_executive}">
                    <div class="right-side">
                        <div class="box-topic">Overtime Confirmation</div>
                        <div class="number">8</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Detail Info</span>
                        </div>
                    </div>
                    <i class='bx bx-time cart'></i>
                </a>

                <a class="box" th:href="@{/reimburse_executive}">
                    <div class="right-side">
                        <div class="box-topic">Reimburse Confirmation</div>
                        <div class="number">3</div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text">Detail Info</span>
                        </div>
                    </div>
                    <i class='bx bx-money cart two'></i>
                </a>


                <a class="box" th:href="@{/employee_project_executive}">
                    <div class="right-side">
                        <div class="box-topic">Total Employee Project</div>
                        <div class="number">4</div>
                        <div class="indicator">
                            <i class='bx bx-down-arrow-alt down'></i>
                            <span class="text">Detail Info</span>
                        </div>
                    </div>
                    <i class='bx bx-task cart four'></i>
                </a>

            </div>
        </div>

    </section>
    <div th:replace="fragments/executive/sidebar :: script"></div>
</body>
</html>