<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:replace="fragments/hr/sidebar :: head"></head>

<body>
    <div th:replace="fragments/hr/sidebar :: sidebar"></div>
    <section class="home-section">
        <nav th:replace="fragments/hr/sidebar :: navbar"></nav>
        <div class="home-content">
            <div class="title">Profil</div>
            <div class="sales-boxes">
                <div class="recent-sales box">
                    
                    <div class="container" >
                        <form th:object="${employee}">
                            <label for="name" class="form-label">Department</label>
                            <input disabled="on" type="text" class="form-control" />
                            <div class="mb-3">
                              <label for="name" class="form-label">Name</label>
                              <input
                                disabled="on"
                                type="text"
                                class="form-control"
                                th:field="*{name}"
                              />
                            </div>
                            <div class="mb-3">
                              <label for="name" class="form-label">Phone</label>
                              <input
                                disabled="on"
                                type="text"
                                class="form-control"
                                th:field="*{phone}"
                              />
                            </div>
                            <div class="mb-3">
                              <label for="name" class="form-label">Email</label>
                              <input
                                disabled="on"
                                type="text"
                                class="form-control"
                                th:field="*{email}"
                              />
                            </div>
                            <div class="mb-3">
                              <label for="name" class="form-label">Account Bank</label>
                              <input
                                disabled="on"
                                type="text"
                                class="form-control"
                                th:field="*{account_bank}"
                              />
                            </div>
                            <div class="mb-3">
                              <label for="name" class="form-label">Payroll</label>
                              <input
                                disabled="on"
                                type="text"
                                class="form-control"
                                th:field="*{payroll}"
                              />
                            </div>
                            <input type="hidden" th:field="*{id}" id="id">
                            <button
                              type="button"
                              class="btn btn-info"
                              data-bs-toggle="modal"
                              data-bs-target="#edit-account"
                              onclick="beforeUpdateAccount(document.getElementById('id').value)"
                            >
                              Edit Account
                            </button>
                            <button
                              type="button"
                              class="btn btn-info"
                              data-bs-toggle="modal"
                              data-bs-target="#edit-profil"
                              onclick="beforeUpdateProfil(document.getElementById('id').value)"
                            >
                              Edit Profil
                            </button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Modal Edit Account-->
    <div
      class="modal fade"
      id="edit-account"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Edit Account</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label">Username</label>
                  <input
                    type="name"
                    class="form-control"
                    id="user-up-username"
                  />
                  <input type="hidden" id="user-up-id" />
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="user-up-password"
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-info" onclick="updateAccount()">
                  Submit
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Edit Profil-->
    <div
      class="modal fade"
      id="edit-profil"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Edit Profil</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="employee-up-name"/>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Phone</label>
                  <input type="text" class="form-control" id="employee-up-phone"/>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Email</label>
                  <input type="email" class="form-control" id="employee-up-email"/>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Account Bank</label>
                  <input type="text" class="form-control" id="employee-up-account"/>
                  <input type="hidden" id="employee-up-id">
                  <input type="hidden" id="employee-up-payroll">
                  <input type="hidden" id="employee-up-department">
                  <input type="hidden" id="employee-up-manager">
                </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-info" onclick="updateProfil()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments/hr/sidebar :: script"></div>
    <script th:src="@{/js/hr/profil.js}"></script>
</body>
</html>