<!DOCTYPE html>
<html lang="en" dir="ltr">

<head th:replace="fragments/hr/sidebar :: head"></head>

<body>
    <div th:replace="fragments/hr/sidebar :: sidebar"></div>
    <section class="home-section">
        <nav th:replace="fragments/hr/sidebar :: navbar"></nav>

        <div class="home-content">
            <div class="title">Tambah Projek</div>
            <div class="sales-boxes">
                <div class="recent-sales box">


                    <div class="container">
                        <form th:action="@{/karyawan}" th:object="${karyawan}" th:method="POST">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nama Project</label>
                                <input type="text" class="form-control" th:field="*{name}">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Tanggal Mulai</label>
                                <input type="date" class="form-control" th:field="*{start_date}">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Tanggal Selesai</label>
                                <input type="date" class="form-control" th:field="*{end_date}">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Keterangan</label>
                                <input type="text" class="form-control" th:field="*{Keterangan}">
                            </div>

                            <fieldset>
                                <label for="name" class="form-label">Status</label>

                                <div class="mb-3">
                                    <input type="radio" id="status" name="drone" value="aktif" checked>
                                    <label for="aktif">aktif</label>

                                    <input type="radio" id="status" name="drone" value="tidak_aktif">
                                    <label for="tidak_aktif">Tidak Aktif</label>
                                </div>
                            </fieldset>

                            <div class="mb-3">
                                <label for="name" class="form-label">Payroll</label>
                                <input type="text" class="form-control" th:field="*{payroll}">
                            </div>


                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="fragments/hr/sidebar :: script"></div>
</body>

</html>